<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan lighten-4">
      <a href="#" class="brand-logo black-text"><b>Who</b>Am<b>I?</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#inicio"><i class="fa fa-home black-text"></i> <span class="black-text">Início</span></a></li>
        <li><a href="#sobre"><i class="fa fa-info black-text"></i> <span class="black-text">Sobre</span></a></li>
        <li><a href="#time"><i class="fa fa-users black-text"></i> <span class="black-text">Time</span></a></li>
        <li><a href="#contato"><i class="fa fa-phone black-text"></i> <span class="black-text">Contato</span></a></li>
      </ul>
    </div>
  </nav>
</div>
