<footer class="page-footer cyan lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text"><b>Who</b>Am<b>I?</b></h5>
        <p class="black-text text-lighten-4">"Onde seus talentos e paixões encontram as necessidades do mundo, este é seu caminho".</p>
      </div>
      <div class="col l4 offset-l2 s12 social-media">
        <h5 class="black-text">Redes Sociais</h5>
        <a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook fa-3x black-text"></i></a>
        <a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram fa-3x black-text"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      © 2017 Copyright WhoAmI?
  
    </div>
  </div>
</footer>
