<div class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Signin</span>

          <div class="row">
            <form class="col s12" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Placeholder" id="name" name="name" type="text" class="validate"
                         [(ngModel)]="signin.name" required>
                  <label for="name">Nome</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Placeholder" id="email" name="email" type="email" class="validate"
                         [(ngModel)]="signin.email" required>
                  <label for="email">E-mail</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="password" name="password" type="password" class="validate"
                         [(ngModel)]="signin.password" required>
                  <label for="password">Senha</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="passwordRepeated" name="passwordRepeated" type="password" class="validate"
                         [(ngModel)]="signin.passwordRepeated" required>
                  <label for="password">Repita sua senha</label>
                </div>
              </div>

              <div class="row">
                <button type="submit" class="waves-effect waves-light green btn">Registrar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
