<app-header></app-header><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="row">
    <div class="col s12 m6">
      <h3>Universidade de Santa Catarina</h3>
      <h4>Florianópolis</h4>
    </div>
  </div>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Card da imagem e informações -->

    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image">
          <img class="activator" src="assets/img/UFSC.jpg">
        </div>
      <div class="card-content">
        <p>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">money_off</i>
                Custo de vida: <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i> 
              </div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">favorite</i>
                Qualidade de vida:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
              </div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">account_balance</i>
                Infraestrutura do Campus:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
              </div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">layers</i>
                  Corpo Docente:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
                </div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">attach_money</i>
                  Suporte Universitário:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
                </div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
              <div class="collapsible-header">
                <i class="material-icons">work</i>
                Estágios:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
              </div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">extension</i>
                  Extensões:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
                </div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">flight</i>
                  Intercâmbio:  <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i>
                </div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
          </ul>
         <span class="card-title activator grey-text text-darken-4"><b>UFSC</b><i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b>UFSC</b><i class="material-icons right">close</i></span>
        <p>Descrição da Faculdade:</p>
      </div>
      </div>
    </div>


    