<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      alguma coisa aqui
    </div>
    <div class="col s12 m6">
      <div class="card z-depth-3">
        <div class="card-content">
          <span class="card-title">Consulte sua Universidade</span>

          <p>Churupyu Churupyu Churupyu Churupyu</p>

          <br><br>

          <!-- INICIO DO FORMUlÁRIO -->
          <div class="row">
            <form class="col s12 m12">

              <!-- CAMPO DENTRO DO FORMULÁRIO -->
              <div class="row">
                <div class="input-field col s12">
  		            <input placeholder="Nome da Faculdade" id="college" name="college" type="text" class="validate">
  		            <label for="college">Nome da Faculdade: </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
  		            <input placeholder="Nome da Cidade" id="city" name="city" type="text" class="validate">
  		            <label for="city">Nome da Cidade: </label>
                </div>
              </div>

              <div class="row">
                <button type="button" name="next" class="waves-effect waves-light blue darken-4 btn">
                  <i class="fa fa-search"></i> Consultar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
