<app-header></app-header>

<div class="row">
  <div class="col s12 m6">
    <div class="card z-depth-2">
      <div class="card-content">
        <span class="card-title">Formulário de Perguntas</span>

        <div class="row">
          <form class="col s12" (ngSubmit)="submitForm()">

            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Título" id="title" name="title" type="text"
                  class="validate" [(ngModel)]="question.title" required>
                <label for="title">Título</label>
              </div>
            </div>

            <div class="row" *ngFor="let a of question.alternatives">
              <div class="input-field col s6">
                <input placeholder="Texto" id="{{a.text}}-text"
                  name="{{a.text}}-text" type="text"
                  class="validate" [(ngModel)]="a.text">
                <label class="active" for="{{a.text}}text">Texto</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Valor" id="{{a.value}}-value"
                  name="{{a.value}}-value" type="text"
                  class="validate" [(ngModel)]="a.value">
                <label class="active" for="{{a.value}}-value">Valor</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                <input placeholder="Texto" id="text" name="text" type="text"
                  class="validate" [(ngModel)]="alternative.text" required>
                <label for="text">Texto</label>
              </div>
              <div class="input-field col s5">
                <input placeholder="Valor" id="value" name="value" type="text"
                  class="validate" [(ngModel)]="alternative.value" required>
                <label for="value">Valor</label>
              </div>
              <div class="col s2">
                <a class="waves-effect waves-light blue darken-3 btn-floating" (click)="addAlternative()">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Tipo" id="anwerType" name="answerType" type="text"
                  class="validate" [(ngModel)]="question.answerType" required>
                <label for="answerType">Tipo</label>
              </div>

              <div class="input-field col s6">
                <input placeholder="Assunto" id="subject" name="subject" type="text"
                  class="validate" [(ngModel)]="question.subject" required>
                <label for="subject">Assunto</label>
              </div>
            </div>

            <div class="row">
            </div>

            <div class="row">
              <button type="submit" class="waves-effect waves-light blue btn">
                <i class="fa fa-check"></i> Salvar
              </button>
              <a class="waves-effect waves-light grey btn" (click)="cancel()">
                <i class="fa fa-ban"></i> Cancelar
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Título</th>
          <th># Alternativas</th>
          <th>Tipo</th>
          <th>Assunto</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of questions">
          <td>{{q.title}}</td>
          <td>{{q.alternatives.length}}</td>
          <td>{{q.answerType}}</td>
          <td>{{q.subject}}</td>
          <td>
            <a class="waves-effect waves-light yellow darken-3 btn-floating" (click)="edit(q)">
              <i class="fa fa-pencil"></i>
            </a>
            <a class="waves-effect waves-light red btn-floating" (click)="remove(q)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
